<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coahr.thoughtrui">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 外部存储读权限，调试工具加载本地补丁需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 打开相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--粘性广播-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <application
        android:name=".mvp.Base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_desktop"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".mvp.view.MainActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!--必有项-->
                <action android:name="android.intent.action.VIEW"/>
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT"/>
                <!--BROWSABLE指定该Activity能被浏览器安全调用-->
                <category android:name="android.intent.category.APP_BROWSER"/>
                <!--协议部分-->
                <!--声明自定义scheme，类似于http, https-->
                <data android:scheme="myapp" android:host="carsuper"/>
            </intent-filter>
        </activity>
        <!-- 中间跳转 -->
        <activity android:name=".mvp.view.ConstantsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 考勤 -->
        <activity android:name=".mvp.view.attence.AttendanceRootActivity" />
        <!-- 拍照页面 -->
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.Default" />
        <!-- 裁剪页面 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light.Default" />
        <!-- 答题 -->
        <activity android:name=".mvp.view.StartProjectActivity"
            android:windowSoftInputMode="adjustPan"/>
        <!-- 百度定位AK鉴权 -->
        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zRN4LdcsWnyGqEcZdeUC5NdrfWRGIe4f" /> <!-- http://lbsyun.baidu.com/apiconsole/key -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <service android:name=".mvp.view.recorder.RecorderService"/>

        <!--监听网络状态-->
      <!--  <receiver android:name=".widgets.BroadcastReceiver.NetWorkReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>-->

        <receiver android:name=".widgets.BroadcastReceiver.AliyunHotReceiver">
            <intent-filter >
             <action android:name="hotAliyun"/>
            </intent-filter>
        </receiver>

        <!--轮询-->
        <receiver android:name=".mvp.view.TimeService.TimeTaskReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="TIMER_ACTION"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".mvp.view.TimeService.LocalService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".mvp.view.TimeService.RomoteService"
            android:process=":romoteservice"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".mvp.view.TimeService.TimeTaskService">
            <intent-filter>
                <action android:name="TIMER_ACTION"/>
            </intent-filter>
        </service>
    </application>

</manifest>